In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
German_df = pd.read_csv("german_credit_data.csv")

In [3]:
German_df.head(5)

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0,67,male,2,own,NaN,little,1169,6,radio/TV
1,1,22,female,2,own,little,moderate,5951,48,radio/TV
2,2,49,male,1,own,little,NaN,2096,12,education
3,3,45,male,2,free,little,little,7882,42,furniture/equipment
4,4,53,male,2,free,little,little,4870,24,car

In [4]:
German_df.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
       'Checking account', 'Credit amount', 'Duration', 'Purpose'],
      dtype='object')

In [5]:
German_df.drop("Unnamed: 0", axis= 1, inplace = True)

In [6]:
German_df.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car

In [7]:
German_df.rename(columns={'Credit amount':'Credit_amount'}, inplace= True)

In [8]:
German_df.columns

Index(['Age', 'Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account',
       'Credit_amount', 'Duration', 'Purpose'],
      dtype='object')

In [9]:
German_df.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit_amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car

In [10]:
Ger_x_df = German_df[['Age', 'Duration']]

In [11]:
Ger_x_df.head()

,Age,Duration
0,67,6
1,22,48
2,49,12
3,45,42
4,53,24

In [12]:
X = Ger_x_df
Y = German_df[['Credit_amount']]

In [13]:
X = sm.add_constant(X)

In [14]:
sm_model = sm.OLS(Y,X)
model = sm_model.fit()

In [15]:
print(model.params.round(2))
print(model.rsquared.round(2))

const      -284.99
Age          13.74
Duration    146.77
dtype: float64
0.39