In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [3]:
Sacramento_df = pd.read_csv("sacramento.csv")

In [4]:
Sacramento_df.head()

,Unnamed: 0,city,zip,beds,baths,sqft,type,price,latitude,longitude
0,1,SACRAMENTO,z95838,2,1.0,836,Residential,59222,38.631913,-121.434879
1,2,SACRAMENTO,z95823,3,1.0,1167,Residential,68212,38.478902,-121.431028
2,3,SACRAMENTO,z95815,2,1.0,796,Residential,68880,38.618305,-121.443839
3,4,SACRAMENTO,z95815,2,1.0,852,Residential,69307,38.616835,-121.439146
4,5,SACRAMENTO,z95824,2,1.0,797,Residential,81900,38.519470,-121.435768

In [5]:
Sacramento_df.columns

Index(['Unnamed: 0', 'city', 'zip', 'beds', 'baths', 'sqft', 'type', 'price',
       'latitude', 'longitude'],
      dtype='object')

In [6]:
Sacramento_df.drop('Unnamed: 0', axis= 1, inplace= True)

In [7]:
Sacramento_df.head()

,city,zip,beds,baths,sqft,type,price,latitude,longitude
0,SACRAMENTO,z95838,2,1.0,836,Residential,59222,38.631913,-121.434879
1,SACRAMENTO,z95823,3,1.0,1167,Residential,68212,38.478902,-121.431028
2,SACRAMENTO,z95815,2,1.0,796,Residential,68880,38.618305,-121.443839
3,SACRAMENTO,z95815,2,1.0,852,Residential,69307,38.616835,-121.439146
4,SACRAMENTO,z95824,2,1.0,797,Residential,81900,38.519470,-121.435768

In [9]:
dummy = pd.get_dummies(Sacramento_df['baths'])

In [10]:
dummy.head(25)

,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0
0,1,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0
6,0,0,1,0,0,0,0,0,0
7,1,0,0,0,0,0,0,0,0
8,0,0,1,0,0,0,0,0,0
9,0,0,1,0,0,0,0,0,0
10,0,0,1,0,0,0,0,0,0
11,0,0,1,0,0,0,0,0,0
12,1,0,0,0,0,0,0,0,0
13,1,0,0,0,0,0,0,0,0
14,0,0,1,0,0,0,0,0,0
15,0,0,1,0,0,0,0,0,0
16,1,0,0,0,0,0,0,0,0
17,1,0,0,0,0,0,0,0,0
18,1,0,0,0,0,0,0,0,0
19,0,0,1,0,0,0,0,0,0
20,0,0,1,0,0,0,0,0,0
21,0,0,1,0,0,0,0,0,0
22,0,0,1,0,0,0,0,0,0
23,0,0,1,0,0,0,0,0,0
24,0,0,1,0,0,0,0,0,0

In [11]:
dummy[1.0].head()

In [12]:
Bath = dummy[1.0]

In [13]:
Sacramento_df_2 = pd.concat((Sacramento_df,Bath), axis=1)

In [14]:
Sacramento_df_2.head()

,city,zip,beds,baths,sqft,type,price,latitude,longitude,1.0
0,SACRAMENTO,z95838,2,1.0,836,Residential,59222,38.631913,-121.434879,1
1,SACRAMENTO,z95823,3,1.0,1167,Residential,68212,38.478902,-121.431028,1
2,SACRAMENTO,z95815,2,1.0,796,Residential,68880,38.618305,-121.443839,1
3,SACRAMENTO,z95815,2,1.0,852,Residential,69307,38.616835,-121.439146,1
4,SACRAMENTO,z95824,2,1.0,797,Residential,81900,38.519470,-121.435768,1

In [15]:
Sacramento_df_2.drop('baths',axis= 1, inplace= True)

In [16]:
Sacramento_df_2.head()

,city,zip,beds,sqft,type,price,latitude,longitude,1.0
0,SACRAMENTO,z95838,2,836,Residential,59222,38.631913,-121.434879,1
1,SACRAMENTO,z95823,3,1167,Residential,68212,38.478902,-121.431028,1
2,SACRAMENTO,z95815,2,796,Residential,68880,38.618305,-121.443839,1
3,SACRAMENTO,z95815,2,852,Residential,69307,38.616835,-121.439146,1
4,SACRAMENTO,z95824,2,797,Residential,81900,38.519470,-121.435768,1

In [17]:
Sacramento_df_2.rename(columns={1.0: 'baths'}, inplace= True)

In [18]:
Sacramento_df_2.head(23)

,city,zip,beds,sqft,type,price,latitude,longitude,baths
0,SACRAMENTO,z95838,2,836,Residential,59222,38.631913,-121.434879,1
1,SACRAMENTO,z95823,3,1167,Residential,68212,38.478902,-121.431028,1
2,SACRAMENTO,z95815,2,796,Residential,68880,38.618305,-121.443839,1
3,SACRAMENTO,z95815,2,852,Residential,69307,38.616835,-121.439146,1
4,SACRAMENTO,z95824,2,797,Residential,81900,38.519470,-121.435768,1
5,SACRAMENTO,z95841,3,1122,Condo,89921,38.662595,-121.327813,1
6,SACRAMENTO,z95842,3,1104,Residential,90895,38.681659,-121.351705,0
7,SACRAMENTO,z95820,3,1177,Residential,91002,38.535092,-121.481367,1
8,RANCHO_CORDOVA,z95670,2,941,Condo,94905,38.621188,-121.270555,0
9,RIO_LINDA,z95673,3,1146,Residential,98937,38.700909,-121.442979,0
10,SACRAMENTO,z95838,3,909,Residential,100309,38.637663,-121.451520,0
11,SACRAMENTO,z95823,3,1289,Residential,106250,38.470746,-121.458918,0
12,SACRAMENTO,z95815,1,871,Residential,106852,38.618698,-121.435833,1
13,SACRAMENTO,z95822,3,1020,Residential,107502,38.482215,-121.492603,1
14,SACRAMENTO,z95842,2,1022,Residential,108750,38.672914,-121.359340,0
15,SACRAMENTO,z95842,2,1134,Condo,110700,38.700051,-121.351278,0
16,RIO_LINDA,z95673,2,844,Residential,113263,38.689591,-121.452239,1
17,CITRUS_HEIGHTS,z95621,2,795,Condo,116250,38.679776,-121.314089,1
18,SACRAMENTO,z95833,2,588,Residential,120000,38.612099,-121.469095,1
19,RIO_LINDA,z95673,3,1356,Residential,121630,38.689999,-121.463220,0
20,CITRUS_HEIGHTS,z95621,3,1118,Residential,122000,38.707851,-121.320707,0
21,SACRAMENTO,z95823,4,1329,Residential,122682,38.468173,-121.444071,0
22,NORTH_HIGHLANDS,z95660,4,1240,Residential,123000,38.702792,-121.382210,0

In [23]:
Xtrain = Sacramento_df_2[['beds','sqft','price']].values
Ytrain = Sacramento_df_2[['baths']].values

In [24]:
X = sm.add_constant(Xtrain)

In [25]:
mod = sm.Logit(Ytrain, X).fit()

Optimization terminated successfully.
         Current function value: inf
         Iterations 9

/opt/python/envs/default/lib/python3.8/site-packages/statsmodels/discrete/discrete_model.py:1819: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/opt/python/envs/default/lib/python3.8/site-packages/statsmodels/discrete/discrete_model.py:1872: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))

In [26]:
print(mod.params.round(2))
print(mod.pvalues.round(2))
print('The smallest p-value is for sqft')

[ 7.29 -0.44 -0.01  0.  ]
[0.   0.03 0.   0.06]
The smallest p-value is for sqft